<main>
    <h2>🌍✨ ¡Explora el mundo con la agencia de viajes QOYLLUR TRAVEL!</h2>
    <div>
        <p>Descarga nuestra app y lleva tus aventuras a otro nivel. Encuentra los mejores paquetes de viajes, hoteles y servicios turísticos al alcance de un toque. Ya sea que sueñes con una playa paradisíaca, una ciudad histórica o un rincón escondido, en XXXX te ofrecemos opciones únicas para que hagas de cada viaje una experiencia inolvidable. ¡Empieza a planear tu próximo destino hoy mismo! 📲🚀</p>
    </div>

    <div class="button-container">
        <a href="https://www.mediafire.com/file/4cl0t6h4wemqks7/appviajes_v2.apk/file" target="_blank" class="download-button android">
            <div class="container-p-icon">
                <p>Descargar para Android</p>
                <img src="../../assets/icons/icon-android.svg" alt="icon-android">
            </div>
        </a>
        <a href="https://www.mediafire.com/file/4cl0t6h4wemqks7/appviajes_v2.apk/file" target="_blank" class="download-button ios">
            <div class="container-p-icon">
                <p>Descargar para iOS</p>
                <img src="../../assets/icons/icon-ios.svg" alt="icon-ios">
            </div>
        </a>
    </div>
</main>
