header{
    figure{
        width: 25rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media (max-width: 500px) {
            width: 90vw;
        }
        img{
            width: 100%;
        }
        h1{
            text-align: center;
        }

    }
}